<h2 class="btn"><%= @topic.title %></h2>

<div class="alert">
  <%= link "Edit", to: topic_path(@conn, :edit, @topic), class: "btn" %>
  <%= link "Delete", to: topic_path(@conn, :delete, @topic), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
  <%= link "Back", to: topic_path(@conn, :index), class: "btn" %>
</div>
